.config-grid {
    position: fixed;
    grid-column: 1;
    display: grid;
    grid-template-rows: 490px 80px 1fr;
}

@media screen and (max-width: 455px) {
    .config-grid {
        display: none;
    }
}