.profile-box {
    margin: 0px auto;
    margin-left: 70px;
    margin-top: 25px;
    display: flex;
    position: left;
}

.profile-box-picture {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-box-username {
    margin-left: 7px;
    font-weight: bold;
}

.profile-box-usertag {
    font-size: 14px;
    font-weight: normal;
    color: gray;
}

.profile-box:hover {
    cursor: pointer;
}

@media screen and (max-width: 1264px) {
    .profile-box-username {
        display: none;
    }

    .profile-box-usertag {
        display: none;
    }

    .profile-box-picture {
        /* display: flex; */
        /* margin: 0px auto; */
        /* flex-direction: row-reverse; */
        margin-left: 50px;
    }
}