.search-bar-container {
    position: fixed;
    grid-row: 1;
    display: flex;
    width: 100%;
    height: 55px;
    margin: 0 auto;
    background-color:  white;
}

.search-bar-container-box {
    display: flex;
    width: 340px;
    height: 40px;
    margin-top: 5px;
    margin-left: 25px;
    background-color: #e6ecf0;
    border: none;
    border-radius: 18px;
}

.search-bar-container-box-icon {
    /* Por qué tiene que estar tan grande para ser visible? */
    /* Por el padding */
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 110;
}

.search-bar-container-box-input {
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 15px;
    background-color: #e6ecf0;
    border: none;
    font-size: 15px;
}

.search-bar-container-box-input[value="Buscar en Twitter"] {
    color: gray;
}

@media screen and (max-width: 1280) {
    .search-bar-container-box {
        width: 300;
    }
}