.sugerence-container {
    grid-column: 3;
    display: grid;
    grid-template-rows: 55px 3fr 1fr;
    margin: 0px;
    padding: 0px;
    /* width: 430px; */
    width: 100%;
    height: 100%;
    /* left: 920px;  */
}

@media screen and (max-width: 959px) {
    .sugerence-container {
        display: none;
    }
}


/* Borrar los "position: absolute;" crea que el 100% de height no tome toda la pantalla como referencia */